.root {
  position: absolute;
  background-color: var(--popup-background);
  padding: 15px;
  border-radius: 15px;
  z-index: 120;
  color: var(--text-color-primary);
  width: inherit;
}

.shareListContainer {
  margin-top: 10px;
}

.shareTitle {
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-bottom: 10px;
}

.shareIcon {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.shareMenuListItem {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 7px;
  margin-bottom: 5px;
}

.shareMenuListItemTitle {
  margin-left: 10px;
  color: white !important;
}

.shareMenuListItem:hover {
  background-color: #3b3b3d;
  cursor: pointer;
}
