.root {
  position: absolute;
  background-color: var(--popup-background);
  padding: 15px;
  border-radius: 15px;
  z-index: 120;
  color: var(--text-color-primary);
  width: inherit;
}

@media (max-width: 500px) {
  .root {
    position: fixed;
    bottom: 0;
    border-radius: 15px 15px 0 0;
  }
}

.shareListContainer {
  height: 100px;
}

@media (max-width: 500px) {
  .shareListContainer {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.shareTitle {
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: var(--text-color-primary);
  margin-bottom: 10px;
}

.shareTitle:hover {
  cursor: pointer;
}