.root {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subRoot {
  width: inherit;
}

.createReplyContainer {
  display: flex;
}

.createReplyUserAvatar {
  border-radius: 50%;
  margin-right: 5px;
}