.root {
  margin-bottom: 15px;
}

.showRepliesButton {
  display: inline-flex;
  color: var(--text-color-primary-2);
  padding: 8px 12px 8px 12px;
  border-radius: 20px;
}

.showRepliesButton:hover {
  background: var(--button-hover-background-4);
}

.showMoreReplies {
  display: inline-flex;
  color: var(--text-color-primary-2);
  padding: 8px 12px 8px 12px;
  border-radius: 20px;
}

.showMoreReplies:hover {
  background: var(--button-hover-background-4);
}

.arrow {
  margin-right: 6px;
}

.commentRepliesContainer {
  margin-left: 56px;
}

.subdirectoryArrowRight {
  margin-right: 6px;
}
