.root {
  position: sticky;
  display: flex;
  height: 64px;
  top: 0;
  border-bottom: 1px solid var(--menu-chosen-background);
  background-color: var(--body-background);
  justify-content: space-between;
  z-index: 100;
}

.selectionTypeContainer {
  display: flex;
  align-self: end;
  line-height: 50px;
}

.selectionTypeContainer > div {
  border-bottom: 2px solid black;
  font-size: 20px;
  font-weight: 600;
}

.actionButtonsContainer {
  display: flex;
  gap: 10px;
  height: 33px;
  align-self: center;
}

.deleteButton {
  padding: 7px 16px;
  border-radius: 10px;
  color: #eaeaea;
  background-color: #d50606;
}

.deleteButton:hover {
  background-color: #850303;
}

.cancelButton {
  font-weight: 600;
  padding: 7px 16px;
  border-radius: 10px;
  color: var(--button-text-disabled-background);
  background-color: var(--button-background);
  cursor: default;
}

.cancelButton.active {
  cursor: pointer;
  color: var(--text-color-primary-1);
  background-color: var(--button-background);
}

.cancelButton.active:hover {
  background-color: var(--button-hover-background);
}

.submitButton {
  font-weight: 600;
  padding: 7px 16px;
  border-radius: 10px;
  color: var(--button-text-disabled-background);
  background-color: var(--button-background);
  cursor: default;
}

.submitButton.active {
  cursor: pointer;
  color: var(--text-color-primary-1);
  background-color: var(--button-background);
}

.submitButton.active:hover {
  background-color: var(--button-background-6);
}