.root {
  position: sticky;
  display: flex;
  height: 64px;
  top: 0;
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
  justify-content: space-between;
  z-index: 100;
}

.selectionTypeContainer {
  display: flex;
  align-self: end;
  line-height: 50px;
}

.selectionTypeContainer > div {
  border-bottom: 2px solid black;
  font-size: 20px;
  font-weight: 600;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
  height: 33px;
  align-self: center;
}

.deleteButton {
  padding: 7px 16px;
  border-radius: 10px;
  color: #eaeaea;
  background-color: #d50606;
}

.deleteButton:hover {
  background-color: #850303;
}

.cancelButton {
  padding: 7px 16px;
  border-radius: 10px;
  color: #6f6f6f;
  background-color: #3e3e3e;
  cursor: default;
}

.cancelButton.active {
  cursor: pointer;
  color: #eaeaea;
  background-color: #3e3e3e;
}

.cancelButton.active:hover {
  background-color: #535353;
}

.submitButton {
  padding: 7px 16px;
  border-radius: 10px;
  color: #6f6f6f;
  background-color: #3e3e3e;
  cursor: default;
}

.submitButton.active {
  cursor: pointer;
  color: #eaeaea;
  background-color: #3e3e3e;
}

.submitButton.active:hover {
  background-color: #535353;
}

.submitDeleteButton {
  padding: 5px 15px;
  border-radius: 10px;
  color: #e1e3e6;
  font-weight: 600;
  background-color: #434343;
}

.submitDeleteButton:hover {
  background-color: #616161;
  cursor: pointer;
}

.cancelDeleteButton {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #e1e3e6;
  color: #222222;
  font-weight: 600;
}

.cancelDeleteButton:hover {
  background-color: #d5d8dc;
  cursor: pointer;
}

.deleteMessage {
  padding: 10px 20px;
  font-size: 20px;
}

.deleteMessageButtons {
  display: flex;
  gap: 10px;
  font-size: 18px;
  justify-content: end;
  margin-right: 20px;
  margin-bottom: 10px;
}