.root {
  margin: 10px 0;
}

.label {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color-primary-1);
  margin-bottom: 5px;
}

.label.active {
  color: var(--text-color-primary-4);
}

.content {
  display: flex;
}

.description {
  margin-top: 5px;
  color: var(--text-color-primary-1);
}

.description.active {
  color: var(--text-color-primary-4);
}

.error {
  margin-top: 5px;
  color: var(--text-error);
}

.error.active {
  color: var(--text-error-active);
}
