@charset "UTF-8";
html {
  font-family: sans-serif;
}

body {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
}

/*:where(.css-dev-only-do-not-override-14i19y2).ant-layout.ant-layout-has-sider >.ant-layout,*/
/*:where(.css-dev-only-do-not-override-14i19y2).ant-layout.ant-layout-has-sider >.ant-layout-content {*/
/*   width: 100%;*/
/*}*/

:root {
  --body-background: #ffffff;
  --body-color: #0e0e0e;
  --body-color-reversed: #f1f1f1;
  --text-error: #fb2222;
  --text-error-active: #fa0202;

  --modal-content-background-color: #ffffff;
  --button-background-6: #030303;
  --button-background-7: #3d3d3d;
  --button-background-reversed-7: #f2f2f2;

  --body-background-1: #f9f9f9;

  --inteface-background-color: #001529;
  --interface-background-hover-color: #1677ff;
  --interface-border-color: #363738;
  --interface-button-color: #FFFFFFA5;

  --button-background: #f2f2f2;
  --button-hover-background: #e5e5e5;
  --button-hover-background-6: #e5e5e5;
  --button-background-1: #0f0f0f;

  --button-background-5: #363636;

  --button-disabled-background: #f2f2f2;
  --button-text-disabled-background: #909090;

  --button-background-2: #065fd4;
  --button-hover-background-3: #0556bf;
  --button-hover-background-4: #def1ff;
  --text-color-primary-2: #065fd4;

  --button-hover-background-1: #272727;
  --button-hover-background-2: #e5e5e5;

  --icon-color-primary: #0e0e0e;
  --text-color-primary: #0e0e0e;
  --text-color-primary-1: #606060;

  --text-color-primary-3: #f1f1f1;

  --text-color-primary-4: #404040;


  --menu-background: #ffffff;
  --menu-chosen-background: #e5e5e5;
  --menu-hover-background: #cecece;

  --popup-background: #f2f2f2;

  --textarea-backround: #ffffff;
  --spinner-color: #8c8a8a;

  --button-hover-background-5: #535353;
}

[dark-theme="dark"] {
  --body-background: #0e0e0e;
  --body-color: #f1f1f1;
  --body-color-reversed: #0e0e0e;
  --text-error: #fb4040;
  --text-error-active: #ff1515;

  --modal-content-background-color: #282828;
  --button-background-6: #ffffff;
  --button-background-7: #f2f2f2;
  --button-background-reversed-7: #3d3d3d;

  --body-background-1: #1f1f1f;

  --button-background: #393838;
  --button-hover-background: #3d3d3d;
  --button-hover-background-6: #535353;
  --button-background-1: #f1f1f1;

  --text-color-primary-4: #8f8f8f;

  --button-disabled-background: #272727;
  --button-text-disabled-background: #717171;

  --button-background-5: #363636;
  --button-hover-background-5: #535353;

  --button-disabled-background-5: #363636;

  --button-background-2: #3ea6ff;
  --button-hover-background-3: #65b8ff;
  --button-hover-background-4: #263850;
  --text-color-primary-2: #3ea6ff;
  --text-color-primary-3: #0e0e0e;

  --button-hover-background-1: #d9d9d9;
  --button-hover-background-2: #3f3f3f;

  --icon-color-primary: #f1f1f1;
  --text-color-primary: #f1f1f1;
  --text-color-primary-1: #aaa;
  --menu-background: #212121;
  --menu-chosen-background: #4d4d4d;
  --menu-hover-background: #717171;

  --popup-background: #3a3a3a;

  --textarea-backround: #0e0e0e;
  --spinner-color: #393939;
}

@media (hover: hover) {
  button:hover {
    background-color: transparent;
  }
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable NewsBlock if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  color: white;
}

.modalContent {
  background-color: var(--modal-content-background-color);
  margin: 15% auto; /* 15% from the top and centered */
  /*padding: 20px;*/
  border: 1px solid #888;
  border-radius: 10px;
  min-width: 450px;
  max-width: 560px;
  width: 30%; /* Could be more or less, depending on screen size */
  cursor: default;
}

.modal_3 {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable NewsBlock if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  color: white;
}

.modalContent_3 {
  background-color: var(--modal-content-background-color);
  margin: 15% auto; /* 15% from the top and centered */
  /*padding: 20px;*/
  border: 1px solid #888;
  border-radius: 10px;
  min-width: 450px;
  max-width: 560px;
  width: 30%; /* Could be more or less, depending on screen size */
  cursor: default;
}

.close {
  color: #292929;
  float: right;
  font-size: 28px;
  font-weight: 700;
}

.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close_2 {
  width: 20px;
  height: 20px;
  color: #292929;
  float: right;
  font-size: 28px;
  font-weight: 700;
}

.close_3 {
  color: #bf1616;
  float: right;
  font-size: 28px;
  font-weight: 700;
}

/*!* Modal Content/Box *!*/
/*.modalContent {*/
/*  background-color: #292929;*/
/*  margin: 15% auto; !* 15% from the top and centered *!*/
/*  padding: 20px;*/
/*  border: 1px solid #888;*/
/*  border-radius: 10px;*/
/*  width: 30%; !* Could be more or less, depending on screen size *!*/
/*}*/

.modalContentUserList {
  background-color: #292929;
  margin: 15% auto; /* 15% from the top and centered */
  /*padding: 20px;*/
  border: 1px solid #888;
  border-radius: 10px;
  min-width: 450px;
  max-width: 800px;
  width: 37%; /* Could be more or less, depending on screen size */
  cursor: default;
}

.cancel {
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 600;
  background-color: #3e3e3e;
}

.cancel:hover {
  background-color: #535353;
}


body.freeze {
  overflow: hidden;
}

input[type="submit"] {
  border: none;
  background-image: none;
  /*background-color: transparent;*/
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input {
  appearance: auto; /* Resets the appearance to default */
  border: none; /* Remove any custom borders */
  background: none; /* Remove custom background */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  color: inherit; /* Inherit text color */
  font: inherit; /* Inherit font properties */
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
}

* {
  /*color: white;*/
  /*background: #0f0f0f;*/
   box-sizing: border-box;
}

.labelForm {
}

.loaderMini {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid var(--spinner-color);
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid var(--spinner-color);
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}
