.root {
  padding: 25px;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.actionButtonsContainer {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 10px;
}

.cancelButton {
  padding: 7px 10px;
  color: #222222;
  background-color: var(--button-background-7);
  border-radius: 10px;
}

.cancelButton:hover {
  /*background-color: #b6b7ba;*/
}

.saveButton {
  padding: 7px 10px;
  color: #e1e3e6;
  background-color: var(--button-background-6);
  border-radius: 10px;
}

.saveButton:hover {
  /*background-color: #515151;*/
}

.canvasCrop {
  display: none;
  object-fit: contain;
  width: 150px;
  height: 150px;
}