@keyframes expand {
    from {
        max-height: 2px;
    }

    to {
        max-height: 100%;
    }
}

.dropdown {
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  background-color: #212121;
  padding: 8px 8px;
  animation: expand 0.15s linear;
}

.dropdownElement {
  font-size: 18px;
  padding: 5px 0;
}

.dropdownElement:hover {
  background-color: #6c6c6c;
}