.root {
  font-weight: 500;
}

@keyframes expand {
  from {
    max-height: 2px;
  }

  to {
    max-height: 100%;
  }
}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.titleIcon {
  margin-right: 10px;
}

.dropdown {
  margin-top: 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  background-color: #3a3a3a;
  padding: 8px 0;
  /*animation: expand 0.15s linear;*/
}

.dropdownElement {
  display: flex;
  font-size: 18px;
  color: white;
  padding: 5px 10px;
}

.dropdownElement.active {
  font-size: 18px;
  background-color: #6c6c6c;
  padding: 5px 10px;
}

.dropdownElement:hover {
  background-color: #6c6c6c;
}
