.root {
  padding: 12px 12px 12px 0;
}

.bannerAndAvatarContainer {
  padding: 12px 12px 12px 0;
}

.bannerUploadContainer {
  width: 330px;
  margin-left: 30px;
}

.avatarUploadContainer {
  width: 330px;
  margin-left: 30px;
}

.avatarGuide {
  font-size: 13px;
}

.previewBannerUploadContainer {
  background-color: #0f0f0f;
  border-radius: 10px;
}

.bannerActionsContainer {
  display: flex;
  margin-top: 8px;
}

.avatarActionsContainer {
  display: flex;
  margin-top: 8px;
}

.avatarContainer {
  padding: 12px 12px 12px 0;
}

.avatarContainerTitle {
  font-size: 15px;
  font-weight: 700;
}

.avatarUploadButton {
  padding: 0 16px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
  color: white;
  background-color: #3e3e3e;
}

.avatarDeleteButton {
  margin-left: 8px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
  color: white;
  background-color: #3e3e3e;
}

.avatarDeleteButton:hover {
  background-color: #535353;
}

.avatarUploadButton:hover {
  background-color: #535353;
  cursor: pointer;
}

.avatarUploadButton label:hover {
  cursor: pointer;
}

.avatarUploadButton input[type="file"] {
  display: none;
}

.avatarImage {
  border-radius: 50%;
  border: 2px solid white;
}

.avatarBackground {
  width: 290px;
  height: 160px;
  background-color: #1f1f1f;
  align-items: center;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}