.root {
  margin-bottom: 15px;
}

.commentRepliesContainer {
  margin-left: 56px;
}

.showRepliesButton {
  display: inline-flex;
  align-items: center;
  color: #3ea6ff;
  padding: 3px 14px;
  border-radius: 20px;
}

.showRepliesButton:hover {
  background-color: #263850;
}

.arrow {
  margin-right: 10px;
}