.root {
  display: flex;
  /*min-width: 200px;*/
}

.inputForm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100%, 400px);
}

.clearButton {
  color: var(--text-color-primary);
  position: absolute;
  border-radius: 50%;
  right: 5px;
  padding: 4px;
}

.clearButton:hover {
  background-color: #3a3a3a;
}

.clearButtonIcon {
  display: flex;
}

.searchButton {
  color: var(--text-color-primary);
  display: flex;
  align-items: center;
  background-color: #8c4747;
  padding: 3px;
  border-radius: 0 3px 3px 0;
}