.root {
  display: flex;
  min-width: 200px;
}

.inputForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputSubForm {
  position: absolute;
  width: inherit;
}

.clearButton {
  position: relative;
  border-radius: 50%;
  right: 30px;
  padding: 5px;
}

.clearButton:hover {
  background-color: #3a3a3a;
}

.clearButtonIcon {
  display: flex;
}

.searchButton {
  margin-left: 5px;
}