.root {
  display: flex;
}

.loaderContainer {
  margin: 0 auto;
}

.avatarCreateComment {
  border-radius: 50%;
  margin-right: 16px;
}

.leaveCommentButton {
  border-radius: 25px;
  border-color: #272727;
  color: #717171;
}

.leaveCommentButton.notEmpty {
  background-color: #3ea6ff;
  color: #0f0f0f;
}

.cancelCommentButton {
}
