.root {
  margin-bottom: 15px;
}

.commentRepliesContainer {
  margin-left: 56px;
}

.showRepliesButton {
  display: inline-flex;
  align-items: center;
  color: var(--button-background-2);
  padding: 3px 14px;
  border-radius: 20px;
}

.showRepliesButton:hover {
  background-color: var(--button-hover-background-4);
}

.arrow {
  margin-right: 10px;
}