.root {
  margin: 0 10px;
  display: flex;
}

.root:hover {
  background-color: var(--interface-background-hover-color);
  cursor: pointer;
}

.menuButton {
  display: flex;
  align-items: center;
}

.menuButton:hover {
  background-color: var(--interface-background-hover-color);
}

.settingsMenu {
  position: absolute;
  top: 65px;
  background-color: var(--inteface-background-color);
  border: 1px solid var(--interface-border-color);
  z-index: 9999;
  right: 150px;
  width: 200px;
  padding: 10px;
  cursor: default;
}

.settingsMenuItem {
  width: 100%;
}

.settingsMenuItem:hover {
  background-color: var(--interface-background-hover-color);
}

