.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: fit-content;
  background-color: var(--button-background);
  border-radius: 10px;
  color: var(--text-color-primary);
}

@media (max-width: 520px) {
  .root {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.shareButton {
  display: flex;
  width: 100%;
  padding: 7px 10px;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--button-hover-background);
}

.shareButton:hover {
  background-color: var(--button-hover-background);
}

.shareIcon {
  margin-right: 16px;
}