.root {
  width: 400px;
  margin: 0 auto;
}

.registerTitle {
  font-size: 32px;
}

.registerButton {
  height: 40px;
  width: 400px;
  border: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-top: 20px;
  background-color: blue;
  border-radius: 10px;
}

.registerButton.active {
  cursor: pointer;
  background-color: #545491;
}

.registerButton.active:hover {
  cursor: pointer;
}
