.root {
   width: 400px;
   margin: 0 auto;
}

.registerTitle {
   font-size: 32px;
}

.formContainer {

}

.registerButton {
  border:none;
  background-image:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 400px;
  margin-top: 20px;
  background-color: blue;
  border-radius: 10px;
  height: 40px;
}