.baseInput {
  color: var(--text-color-primary);
  background-color: var(--textarea-backround) !important;
}

.baseInput:hover {
  background-color: var(--textarea-backround) !important;
}

.baseInput:focus {
  background-color: var(--textarea-backround) !important;
}

.baseInput::placeholder {
  color: var(--text-color-primary-1) !important;
}