.root {
  background-color: #ffffff !important;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

.root:hover {
  border: 1px solid black;
}

.formInputContainer {
  padding: 0 8px 8px 8px;
}

.formInputLabel {
  font-size: 12px;
  line-height: 16px;
  margin: 3px 0;
  color: #606060;
}

.textarea {
  min-height: 24px !important;
  display: block;
  margin: 0 !important;
  width: 400px;
  border: none !important;
  outline: none !important;
}

.textarea:focus {
  border: none !important;
  outline: none !important;
}
