.root {
    /*margin: 0 600px;*/
    /*height: 800px;*/
}

.block {
    background-color: #fff;
    padding: 15px;
    width: 575px;
    height: 320px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.header {
  display: flex;
  height: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 10px;
}

.iconBackground {
    background-color: #1616c4;
    border-radius: 32px;
}

.subscribeButton {
    width: 115px;
    padding: 15px;
    border-radius: 10px;
    background-color: green;
}

.unsubscribeButton {
    width: 110px;
    padding: 15px;
    border-radius: 10px;
    background-color: red;
}
