.root {
  padding: 10px 10px;
}

.blogModalTitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.description {
  display: flex;
  margin-bottom: 10px;
}

.aboutChannelTitle {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 10px;
}

.descriptionItem {
  display: flex;
  margin-bottom: 15px;
}

.mainInformationContainer {
  padding: 0 24px 24px;
  max-height: 660px;
  overflow-y: auto;
}

.descriptionTitle {
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 8px;
}
