.root {
  display: flex;
  align-items: center;
}

.dislikeButton {
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 25px;
  justify-content: center;
}

.dislikeButton:hover {
  background-color: var(--button-hover-background-2);
}

.dislikeIcon {
  color: var(--icon-color-primary);
}

.dislikeCounter {
  margin-right: 8px;
}