.root {
  padding: 24px 0;
  background-color: var(--body-background);
  color: var(--text-color-primary)
}

.sider {
  background-color: var(--body-background);
  color: var(--text-color-primary)
}

.content {
  padding: 0 24px;
  color: var(--text-color-primary);
}
