.root {
  min-width: 120px;
  text-align: end;
}

.commentsTh {
  display: flex;
  align-items: center;
  font-weight: 500;
  min-width: 150px;
}

.commentsTh:hover {
  font-weight: 700;
  cursor: pointer;
}

.commentsTh.active {
  font-weight: 700;
}

.arrow {
  margin-left: 5px;
}