.root {
  height: inherit;
}

.root:hover {
  background-color: var(--interface-background-hover-color);
}

.root.active {
  background-color: var(--interface-background-hover-color);
}

.userMenuButton {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 5px;
  cursor: pointer;
}

.userMenuAvatar {
  border-radius: 50%;
}

.userMenuContainer {
  color: #a6adb4 !important;
  width: 250px;
  position: absolute;
  padding: 10px;
  background-color: var(--inteface-background-color);
  right: 50px;
  border: 2px solid #363738;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 9999;
}
