.root {
  display: flex;
  align-items: center;
}

.root:hover {
  background-color: #1677ff;
}

.notificationMenu {
  top: 64px;
  color: #a6adb4 !important;
  width: 480px;
  height: 500px;
  position: absolute;
  /*padding: 10px;*/
  background-color: #001529;
  right: 120px;
  border: 2px solid #363738;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.notificationContainer {
  display: flex;
  padding: 16px 16px 16px 0;
}

.notificationContainer:hover {
  cursor: pointer;
  background-color: #3e3e3e;
}

.avatarContainer {
  display: flex;
  margin-right: 16px;
}

.avatar {
  border-radius: 50%;
}

.textContainer {
  width: 250px;
  line-height: 24px;
  color: #f0f0f0;
  word-break: break-all;
  margin-bottom: 8px;
}

.postContainer {
  margin: 0 16px;
}
