.root {
  display: flex;
  align-items: center;
  z-index: 9999;
}

.root:hover {
  background-color: var(--interface-background-hover-color);
}

.bellIcon {
  height: 100%;
  display: flex;
  align-items: center;
}

.notificationMenu {
  top: 64px;
  color: #a6adb4 !important;
  width: 480px;
  height: 500px;
  position: absolute;
  background-color: var(--inteface-background-color);
  right: 120px;
  border: 2px solid #363738;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
