.root {
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  color: var(--text-color-primary);
  background-color: var(--button-background);
}

.root:hover {
  background-color: var(--button-hover-background);
}

.root.active {
  color: var(--text-color-primary-3);
  background-color: var(--button-background-1);
}
