.root {
  width: auto;
  margin-bottom: 30px;
  color: black;
  font-size: 24px;
}

.sortingTitle {
  margin-top: 8px;
  font-size: 18px;
}

.sortingMenu {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}

.menu {
  display: flex;
}

.icons {
  padding: 6px 10px;
}

.additionalSettings {
  display: flex;
  width: 700px;
  color: black;
  font-size: 24px;
}