.root {
  width: 750px;
  margin-bottom: 30px;
  color: black;
  font-size: 24px;
}

.sortingTitle {
  margin-top: 8px;
  font-size: 18px;
}

.sortingMenu {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}

.menu {
  display: flex;
}

.icons {
  padding: 6px 10px;
}

.additionalSettings {
  display: flex;
  width: 700px;
  color: black;
  font-size: 24px;
}

.sortingItem {
  padding: 10px;
  border-radius: 10px;
  background-color: #3a3a3a;
  font-size: 18px;
  margin-right: 12px;
}

.sortingItem.active {
  padding: 10px;
  border-radius: 10px;
  background-color: #8b8686;
  font-size: 18px;
  margin-right: 12px;
}
