.root {
  display: flex;
}

.buttonSubmit {
  display: flex;
  width: 70px;
  padding: 10px;
  background-color: var(--button-background-5);
  color: #6e6e6e;
  border-radius: 15px;
  justify-content: center;
  cursor: default;
}

.buttonSubmit.active {
  color: white;
  background-color: var(--button-background-5);
  cursor: pointer;
}

.buttonSubmit.active:hover {
  color: white;
  background-color: var(--button-hover-background-5);
  cursor: pointer;
}
