.root {
  display: flex;
  align-items: center;
  background-color: var(--body-color);
  color: var(--body-color-reversed);
  height: 48px;
  margin-top: 5px;
}

.selectedCounterTitle {
  margin-left: 24px
}

.divider {
  width: 1px;
  height: 32px;
  margin-left: 32px;
  margin-right: 26px;
  border-left: 1px solid var(--text-color-primary-4);
}

.actionBarButtons {
  display: flex;
}

.actionBarButtons:not(:last-child) {
  margin-right: 20px;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 25px;
}

.deleteButton:hover {
  background-color: var(--text-color-primary-4);
}

.resetButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 25px;
}

.resetButton:hover {
  background-color: var(--text-color-primary-4);
}