.root {
  position: absolute;
  padding: 8px 0;
  background-color: var(--menu-background);
  color: var(--text-color-primary);
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.root > div {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 16px;
  padding: 0 12px 0 16px;
}

.root > div:hover {
  background-color: var(--menu-hover-background);
  cursor: pointer;
}

.icon {
  margin-right: 16px;
}
