.root {
  position: absolute;
  padding: 8px 0;
  background-color: #282828;
  color: #f1f1f1;
  border-radius: 10px;
}

.root > div {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 16px;
  padding: 0 12px 0 16px;
}

.root > div:hover {
  background-color: #535353;
  cursor: pointer;
}

.icon {
  margin-right: 16px;
}
