.root {

}

.returnToBlog {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
}

.mapTitle {
  margin-bottom: 5px;
  text-decoration: underline;
  color: #3c3cbd;
}

.mapTitle:hover {
  color: #0909ea;
  cursor: pointer;
}

.tagListContainer {
  margin: 12px 0;
  width: 400px;
}

.submitButton {
  padding: 7px 10px;
  color: #b1b0b0;
  background-color: #363636;
  border-radius: 10px;
  cursor: default;
}

.submitButton.active {
  color: white;
  cursor: pointer;
}

.submitButton.active:hover {
  color: white;
  background-color: #424141;
}
