.root {
}

.returnToPost {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-size: 18px;
  gap: 10px;
}

.actionButtonsContainer {
  position: fixed;
  z-index: 100;
  display: flex;
  gap: 15px;
}

.deleteButton {
  padding: 10px;
  background-color: #dc0e0e;
  color: white;
  border-radius: 15px;
  cursor: default;
}

.deleteButton:hover {
  background-color: #f83434;
}

.cancelButton {
  padding: 10px;
  background-color: #363636;
  color: #6e6e6e;
  border-radius: 15px;
  cursor: default;
}

.cancelButton.active {
  color: white;
}

.cancelButton.active:hover {
  background-color: #535353;
  cursor: pointer;
}

.submitButton {
  padding: 10px;
  background-color: #363636;
  color: #6e6e6e;
  border-radius: 15px;
  cursor: default;
}

.submitButton.active {
  color: white;
}

.submitButton.active:hover {
  background-color: #535353;
  cursor: pointer;
}
