.root {
  margin-right: 40px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

.inviteButton {
  padding: 10px;
  background-color: #001529;
  color: #a6adb4;
  border-radius: 15px;
}

.inviteButton:hover {
  color: white;
}