.root {

}

.tabTitle {
  font-size: 28px;
  font-weight: 600;
}

.bannerContainer {
  padding: 12px 12px 12px 0;
}

.bannerContainerTitle {
  font-size: 15px;
  font-weight: 500;
}

.bannerContainerDescription {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.bannerUploadContainer {
  width: 330px;
  margin-left: 30px;
}

.avatarUploadContainer {
  width: 330px;
  margin-left: 30px;
}

.bannerGuide {
  font-size: 13px;
}

.avatarGuide {
  font-size: 13px;
}

.bannerDeleteButton {
  margin-left: 8px;
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
  color: white;
  background-color: #3e3e3e;
  /*width: fit-content;*/
}

.previewBannerUploadContainer {
  background-color: #0f0f0f;
  border-radius: 10px;
}

.bannerActionsContainer {
  display: flex;
  margin-top: 8px;
}

.avatarActionsContainer {
  display: flex;
  margin-top: 8px;
}

.avatarContainer {
  padding: 12px 12px 12px 0;
}

.avatarContainerTitle {
  font-size: 15px;
  font-weight: 500;
}

.avatarUploadButton {
  padding: 0 16px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
  color: white;
  background-color: #3e3e3e;
}

.bannerUploadButton {
  padding: 0 16px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
  color: white;
  background-color: #3e3e3e;
}

.avatarDeleteButton {
  margin-left: 8px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 36px;
  border-radius: 18px;
  color: white;
  background-color: #3e3e3e;
}

.avatarDeleteButton:hover {
  background-color: #535353;
  cursor: pointer;
}

.avatarUploadButton:hover {
  background-color: #535353;
  cursor: pointer;
}

.bannerUploadButton:hover {
  background-color: #535353;
  cursor: pointer;
}

.avatarUploadButton label:hover {
  cursor: pointer;
}

.avatarUploadButton input[type="file"] {
  display: none;
}

.bannerUploadButton input[type="file"] {
  display: none;
}

.avatarImage {
  border-radius: 50%;
  border: 2px solid white;
}

.avatarBackground {
  width: 290px;
  height: 160px;
  background-color: #1f1f1f;
  align-items: center;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.modalContentError {
  outline: none;
  min-width: 512px;
  max-width: 512px;
  position: fixed;
  top: 322.5px;
  left: 410px;
  box-sizing: border-box;
  max-height: 830px;
  z-index: 10;
  min-height: 185px;
  border-radius: 30px;
  background-color: #282828;
}