.root {
  height: inherit;
  overflow: auto;
}

.notificationHeaderContainer {
  height: 49px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #535353;
}

.arrow {
  height: 35px;
  width: 35px;
  margin: 0 0 0 20px;
}

.arrow:hover {
  background-color: #535353;
  border-radius: 50%;
  cursor: pointer;
}

.headerTitle {
  margin-left: 16px;
}

.relatedPostContainer {
  display: flex;
  padding: 16px 8px 16px 16px;
  border-bottom: 1px solid #535353;
}

.relatedPostSubContainer {
  display: inherit;
  color: white !important;
}

.relatedPostText {
  display: flex;
  align-items: center;
  width: 350px;
  line-height: 20px;
  margin-right: 16px;
}

.relatedPostAvatar {
  border-radius: 50%;
}

.notificationRelatedCommentListContainer {
  padding: 16px 8px 16px 16px;
}