.loaderContainer {
  display: flex;
}

.loaderSubContainer {
  margin: 0 auto;
}

.showMoreReplies {
  display: inline-flex;
  color: var(--text-color-primary-2);
  padding: 8px 12px 8px 12px;
  border-radius: 20px;
}

.showMoreReplies:hover {
  background: var(--button-hover-background-4);
}

.subdirectoryArrow {
  margin-right: 5px;
}