.root {
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}

.tabsMenu {
  display: flex;
}

.tabsMenu > div {
  font-size: 20px;
  font-weight: 600;
}






.selectionBar {
  display: flex;
  font-size: 16px;
}

.selectionBar > .selectionBarCell {
  padding: 10px;
}

.selectionBarCell {
}

.publicationsList {
}

.titleTh {
  text-align: start;
  font-weight: 500;
}