.root {
  display: flex;
}

.loading {

}

.commentActionMenuButton {
  display: flex;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.commentActionMenuButton:hover {
  background-color: var(--button-hover-background-2);
}

