.root {
  padding: 12px 12px 12px 0;
}

.avatarContainerTitle {
  font-size: 15px;
  font-weight: 700;
}

.avatarContainerDescription {
  color: var(--text-color-primary-1);
}

.avatarUploadContainer {
  display: flex;
  margin-top: 8px;
}

.avatarBackground {
  width: 290px;
  height: 160px;
  background-color: var(--body-background-1);
  align-items: center;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.avatarImage {
  border-radius: 50%;
}

.avatarGuideAndUploadContainer {
  width: 330px;
  margin-left: 30px;
}

.avatarGuide {
  font-size: 13px;
  color: var(--text-color-primary-1);
}

.avatarActionsContainer {
  display: flex;
  margin-top: 8px;
}

.avatarUploadButton {
  font-size: 14px;
  font-weight: 600;
  padding: 0 16px;
  line-height: 36px;
  border-radius: 18px;
  color: var(--text-color-primary);
  background-color: var(--button-background-reversed-7);
}

.avatarUploadButton:hover {
  background-color: var(--button-hover-background-6);
  cursor: pointer;
}

.avatarUploadButton label:hover {
  cursor: pointer;
}

.avatarUploadButton input[type="file"] {
  display: none;
}

.avatarDeleteButton {
  font-size: 14px;
  font-weight: 600;
  margin-left: 8px;
  padding: 0 16px;
  line-height: 36px;
  border-radius: 18px;
  color: var(--text-color-primary);
  background-color: var(--button-background-reversed-7);
}

.avatarDeleteButton:hover {
  background-color: var(--button-hover-background-6);
}

.modalStyle {
  overflow: hidden;
}

.modalContentStyle {
  margin: 10% auto;
}