.root {

}

.selectButton {
  display: flex;
  cursor: pointer;
}

.selectButton:hover {
  color: gray;
}

.sortingTitle {
  margin-top: 8px;
  font-size: 18px;
}

.sortingMenu {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}