.postHeader {
  display: flex;
  font-size: 24px;
  margin-bottom: 7px;
}

.avatar {
  display: flex;
  margin-right: 10px;
  border-radius: 50%;
}

.postBlogTitle {
  color: var(--text-color-primary);
  word-break: break-all;
}

.postBlogTitle:hover {
  color: inherit;
}

.postTitle {
  font-size: 20px;
  margin-bottom: 10px;
  word-break: break-all;
}

.postTitleLink {
  color: var(--text-color-primary);
}

.postTitleLink:hover {
  color: inherit;
}