.root {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.subHeader {
  display: flex;
}

.blogAvatar {
  border-radius: 50%;
  margin-right: 10px;
}

.blogTitleContainer {
  display: flex;
}

.blogTitle {
  font-size: 24px;
}

.blogInformationContainer {

}

.blogInformationContainer > div {
  display: flex;
}

.descriptionTitle {
  font-weight: 700;
  font-size: 18px;
}

.descriptionContent {
  margin-left: 5px;
  font-size: 18px;
}

.dateTitle {
  font-weight: 700;
  font-size: 18px;
}

.dateData {
  margin-left: 5px;
  font-size: 18px;
}

.blogStatsContainer {

}

.countOfPostsStatContainer {
  display: flex;
  padding: 4px 8px 4px 0;
}

.commentsStatContainer {
  display: flex;
  padding: 4px 8px;
}

.viewsStatContainer {
  display: flex;
  padding: 4px 8px;
}